In [107]:
import json
from pycocotools.coco import COCO
import os
import pandas as pd
from transformers import MarianMTModel, MarianTokenizer

In [108]:
def back_translation(text, first_model, first_model_tokenizer, second_model, second_model_tokenizer):
    
    fisrt_formed_text = f">>fr<< {text}"
    first_translated = first_model.generate(**first_model_tokenizer(fisrt_formed_text, return_tensors="pt", padding=True))
    first_translated_text = first_model_tokenizer.decode(first_translated[0], skip_special_tokens=True)
    second_formed_text = f">>en<< {first_translated_text}"
    second_translated = second_model.generate(**second_model_tokenizer(second_formed_text, return_tensors="pt", padding=True))
    second_translated_text = second_model_tokenizer.decode(second_translated[0], skip_special_tokens=True)
    
    return second_translated_text

In [109]:
first_model_name = 'Helsinki-NLP/opus-mt-en-fr'
first_model_tokenizer = MarianTokenizer.from_pretrained(first_model_name)
first_model = MarianMTModel.from_pretrained(first_model_name)
second_model_name = 'Helsinki-NLP/opus-mt-fr-en'
second_model_tokenizer = MarianTokenizer.from_pretrained(second_model_name)
second_model = MarianMTModel.from_pretrained(second_model_name)

In [110]:
import json
import pandas as pd

json_path = "/root/RobustMixGen_past/data/coco_train.json"

with open(json_path, 'r') as file:
    data = json.load(file)

json_df = pd.DataFrame(data)

In [111]:
train_label_path = "/root/RobustMixGen/data/COCO/class_super_class/train2014_rmg.json"
with open(train_label_path, 'r') as file:
    data = json.load(file)

train_label = pd.DataFrame(data)

In [214]:
train_label

,img_id,file_name,width,height,objects_count,max_obj_id,max_obj_cat_id,max_obj_super_cat,max_obj_cat,max_obj_area,max_obj_midpoint,max_obj_bbox,max_obj_segment_points,max_obj_area_portion,plural
0,57870,COCO_train2014_000000057870.jpg,640,480,17,2190436.0,62.0,furniture,chair,23717.00790,"[176.59, 375.745]","[90.67, 271.49, 171.84, 208.51]","[[91.48, 476.07, 90.67, 425.33, 130.76, 394.24...",0.077204,chairs
1,384029,COCO_train2014_000000384029.jpg,640,429,14,423921.0,1.0,person,person,87957.80790,"[243.905, 154.24499999999998]","[4.82, 2.89, 478.17, 302.71]","[[215.95, 293.07, 182.2, 241.01, 182.2, 209.2,...",0.320359,persons
2,222016,COCO_train2014_000000222016.jpg,480,640,1,459512.0,1.0,person,person,32991.66165,"[288.43, 390.96]","[225.29, 185.04, 126.28, 411.84]","[[256.86, 566.74, 232.47, 561.0, 239.64, 523.7...",0.107395,persons
3,520950,COCO_train2014_000000520950.jpg,640,427,18,1124706.0,79.0,appliance,oven,18047.51420,"[142.815, 366.89]","[50.97, 309.67, 183.69, 114.44]","[[100.02, 310.63, 50.97, 351.99, 52.89, 424.11...",0.066040,ovens
4,69675,COCO_train2014_000000069675.jpg,640,480,8,1726664.0,1.0,person,person,71105.37880,"[437.39, 258.875]","[309.57, 44.22, 255.64, 429.31]","[[522.07, 471.37, 529.62, 453.03, 541.48, 444....",0.231463,persons
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82778,444010,COCO_train2014_000000444010.jpg,640,480,51,390340.0,67.0,furniture,dining table,88555.58315,"[250.78500000000003, 349.48]","[1.08, 220.04, 499.41, 258.88]","[[1.08, 308.49, 240.54, 220.04, 500.49, 344.09...",0.288267,dining tables
82779,565004,COCO_train2014_000000565004.jpg,640,427,7,661746.0,46.0,kitchen,wine glass,36686.44230,"[329.975, 287.025]","[244.07, 147.05, 171.81, 279.95]","[[319.37, 427.0, 317.34, 410.83, 314.82, 404.2...",0.134245,wine glasss
82780,516168,COCO_train2014_000000516168.jpg,640,480,40,1616408.0,67.0,furniture,dining table,100458.80335,"[320.0, 380.975]","[0.0, 288.75, 640.0, 184.45]","[[44.22, 288.75, 92.76, 297.38, 147.78, 304.93...",0.327014,dining tables
82781,547503,COCO_train2014_000000547503.jpg,500,375,13,2158193.0,1.0,person,person,32523.35120,"[62.34, 190.91]","[0.0, 21.43, 124.68, 338.96]","[[1.95, 21.43, 41.88, 33.12, 61.36, 65.26, 64....",0.173458,persons
82782,475546,COCO_train2014_000000475546.jpg,500,375,13,523544.0,1.0,person,person,24938.94505,"[64.89, 233.85]","[0.0, 96.91, 129.78, 273.88]","[[0.0, 101.97, 14.33, 96.91, 30.34, 96.91, 42....",0.133008,persons

In [209]:
train_label['plural'] = train_label['max_obj_cat'] + 's'

In [199]:
max_types = train_label.max_obj_cat
max_types.unique()

array(['chair', 'person', 'oven', 'dining table', 'bus', 'bicycle',
       'refrigerator', 'sink', 'bottle', 'bench', 'car', 'toilet', None,
       'clock', 'bear', 'motorcycle', 'cat', 'spoon', 'horse', 'cake',
       'train', 'airplane', 'traffic light', 'sheep', 'giraffe',
       'skateboard', 'cow', 'truck', 'fire hydrant', 'potted plant',
       'dog', 'bird', 'stop sign', 'teddy bear', 'tie', 'tv', 'bed',
       'zebra', 'boat', 'vase', 'elephant', 'bowl', 'laptop', 'umbrella',
       'suitcase', 'cup', 'couch', 'banana', 'baseball bat', 'orange',
       'broccoli', 'sandwich', 'carrot', 'pizza', 'snowboard', 'apple',
       'hot dog', 'donut', 'keyboard', 'surfboard', 'tennis racket',
       'kite', 'hair drier', 'cell phone', 'microwave', 'scissors',
       'handbag', 'parking meter', 'wine glass', 'backpack', 'frisbee',
       'book', 'knife', 'toaster', 'fork', 'toothbrush', 'remote',
       'sports ball', 'baseball glove', 'mouse', 'skis'], dtype=object)

In [226]:
plural_map = {'person': 'people', 'bus': 'buses', 'bench':'benches','couch': 'couches', 'sandwich': 'sandwiches', 'scissors':'scissorses', 'knife':'knives', 'toothbrush':'toothbrushes'}

In [230]:
for key in plural_map.keys():
    train_label.loc[train_label['max_obj_cat'] == key, 'plural'] = plural_map[key]

In [231]:
train_label

,img_id,file_name,width,height,objects_count,max_obj_id,max_obj_cat_id,max_obj_super_cat,max_obj_cat,max_obj_area,max_obj_midpoint,max_obj_bbox,max_obj_segment_points,max_obj_area_portion,plural
0,57870,COCO_train2014_000000057870.jpg,640,480,17,2190436.0,62.0,furniture,chair,23717.00790,"[176.59, 375.745]","[90.67, 271.49, 171.84, 208.51]","[[91.48, 476.07, 90.67, 425.33, 130.76, 394.24...",0.077204,chairs
1,384029,COCO_train2014_000000384029.jpg,640,429,14,423921.0,1.0,person,person,87957.80790,"[243.905, 154.24499999999998]","[4.82, 2.89, 478.17, 302.71]","[[215.95, 293.07, 182.2, 241.01, 182.2, 209.2,...",0.320359,people
2,222016,COCO_train2014_000000222016.jpg,480,640,1,459512.0,1.0,person,person,32991.66165,"[288.43, 390.96]","[225.29, 185.04, 126.28, 411.84]","[[256.86, 566.74, 232.47, 561.0, 239.64, 523.7...",0.107395,people
3,520950,COCO_train2014_000000520950.jpg,640,427,18,1124706.0,79.0,appliance,oven,18047.51420,"[142.815, 366.89]","[50.97, 309.67, 183.69, 114.44]","[[100.02, 310.63, 50.97, 351.99, 52.89, 424.11...",0.066040,ovens
4,69675,COCO_train2014_000000069675.jpg,640,480,8,1726664.0,1.0,person,person,71105.37880,"[437.39, 258.875]","[309.57, 44.22, 255.64, 429.31]","[[522.07, 471.37, 529.62, 453.03, 541.48, 444....",0.231463,people
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82778,444010,COCO_train2014_000000444010.jpg,640,480,51,390340.0,67.0,furniture,dining table,88555.58315,"[250.78500000000003, 349.48]","[1.08, 220.04, 499.41, 258.88]","[[1.08, 308.49, 240.54, 220.04, 500.49, 344.09...",0.288267,dining tables
82779,565004,COCO_train2014_000000565004.jpg,640,427,7,661746.0,46.0,kitchen,wine glass,36686.44230,"[329.975, 287.025]","[244.07, 147.05, 171.81, 279.95]","[[319.37, 427.0, 317.34, 410.83, 314.82, 404.2...",0.134245,wine glasss
82780,516168,COCO_train2014_000000516168.jpg,640,480,40,1616408.0,67.0,furniture,dining table,100458.80335,"[320.0, 380.975]","[0.0, 288.75, 640.0, 184.45]","[[44.22, 288.75, 92.76, 297.38, 147.78, 304.93...",0.327014,dining tables
82781,547503,COCO_train2014_000000547503.jpg,500,375,13,2158193.0,1.0,person,person,32523.35120,"[62.34, 190.91]","[0.0, 21.43, 124.68, 338.96]","[[1.95, 21.43, 41.88, 33.12, 61.36, 65.26, 64....",0.173458,people
82782,475546,COCO_train2014_000000475546.jpg,500,375,13,523544.0,1.0,person,person,24938.94505,"[64.89, 233.85]","[0.0, 96.91, 129.78, 273.88]","[[0.0, 101.97, 14.33, 96.91, 30.34, 96.91, 42....",0.133008,people

In [234]:
obj_caption = train_label[train_label['img_id'] == 57870]['plural'].iloc[0]

In [237]:
a = 'abc de'
b = 'abc'

In [239]:
text = "wordHello Worldword"
text.strip("word")

'Hello Worl'

In [242]:
new = text.strip("word")

In [243]:
new

'Hello Worl'

In [240]:
text.strip("a")

'wordHello Worldword'

In [244]:
json_df

,caption,image,image_id
0,A woman wearing a net on her head cutting a ca...,val2014/COCO_val2014_000000522418.jpg,coco_522418
1,A woman cutting a large white sheet cake.,val2014/COCO_val2014_000000522418.jpg,coco_522418
2,A woman wearing a hair net cutting a large she...,val2014/COCO_val2014_000000522418.jpg,coco_522418
3,there is a woman that is cutting a white cake,val2014/COCO_val2014_000000522418.jpg,coco_522418
4,A woman marking a cake with the back of a chef...,val2014/COCO_val2014_000000522418.jpg,coco_522418
...,...,...,...
566742,The patrons enjoy their beverages at the bar.,train2014/COCO_train2014_000000475546.jpg,coco_475546
566743,People having a drink in a basement bar.,train2014/COCO_train2014_000000475546.jpg,coco_475546
566744,A group of friends enjoys a drink while sittin...,train2014/COCO_train2014_000000475546.jpg,coco_475546
566745,Group of people drinking wine at a public loca...,train2014/COCO_train2014_000000475546.jpg,coco_475546
566746,Three women and a man are sitting at a bar,train2014/COCO_train2014_000000475546.jpg,coco_475546

In [248]:
json_df.iloc[22222]

caption     A man playing tennis while people watch from t...
image                   val2014/COCO_val2014_000000017449.jpg
image_id                                           coco_17449
Name: 22222, dtype: object

In [272]:
def text_augmentation(obj_id: int, bg_id: int, json_df, train_label):
    """
    obj_id, bg_id는 img_id 형식으로 삽입 ex) 57870
    단, json_df의 경우 bg_id 는 'coco_image_id' 형식으로 삽입해줘야 하므로, 함수 내부에서 img_id를 형식에 맞게 바꿔줌 ex) "coco_475546"
    5개의 caption 중 첫번째 caption을 가져오는 코드로 우선 작성
    obj는 2번째 token 까지, bg는 3번째 token부터 끝까지를 가져오고,
    2개의 token을 concat하여 back translation을 진행
    이 부분은 추후 변경 필요
    """
    obj_caption = train_label[train_label['img_id'] == obj_id]['plural'].iloc[0]
    bg_id_coco = "coco_" + str(bg_id)
    bg_caption = json_df[json_df['image_id'] == bg_id_coco]['caption'].iloc[0]
    bg_caption_strip_1 = bg_caption.strip(train_label[train_label['img_id'] == bg_id]['max_obj_cat'].values[0])
    bg_caption_strip_2 = bg_caption_strip_1.strip(train_label[train_label['img_id'] == bg_id]['plural'].values[0])
    
    obj_tok = first_model_tokenizer.encode(obj_caption)
    bg_tok = first_model_tokenizer.encode(bg_caption_strip_2)
    
    concat_token = obj_tok + bg_tok
    
    concat_text = first_model_tokenizer.decode(concat_token, skip_special_tokens=True)
    
    backtranslated_text = back_translation(concat_text, first_model, first_model_tokenizer, second_model, second_model_tokenizer)
    
    return backtranslated_text

In [275]:
obj_caption = train_label[train_label['img_id'] == 57870]['plural'].iloc[0]
bg_caption = json_df[json_df['image_id'] == "coco_475546"]['caption'].iloc[0]

obj_caption, bg_caption

('chairs', 'The patrons enjoy their beverages at the bar.')

In [276]:
test_text = text_augmentation(57870, 475546, json_df, train_label)
print(test_text)

/usr/local/lib/python3.8/dist-packages/transformers/generation/utils.py:1313: UserWarning: Using `max_length`'s default (512) to control the generation length. This behaviour is deprecated and will be removed from the config in v5 of Transformers -- we recommend using `max_new_tokens` to control the maximum length of the generation.
  warnings.warn(

Guests enjoy their drinks at the bar.

In [274]:
test_text

'Guests enjoy their drinks at the bar.'

### 여기서 부터는 문장에서 주어랑 목적어 출력하는 코드입니다.
### 원래 계획은 bg caption은 주어 삭제, obj caption은 주어 추출해서 두개 합치려고 했는데, caption이 문장이 아닌 명사구 형태인 경우가 많아서
### 추출이 제대로 되지 않는 경우가 많아서 코드만 짜놓고 스킵했으니 참고만 부탁드립니다.

In [164]:
!pip install spacy

Requirement already satisfied: spacy in /usr/local/lib/python3.8/dist-packages (3.5.2)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<1.11.0,>=1.7.4 in /usr/local/lib/python3.8/dist-packages (from spacy) (1.10.7)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.11 in /usr/local/lib/python3.8/dist-packages (from spacy) (3.0.12)
Requirement already satisfied: langcodes<4.0.0,>=3.2.0 in /usr/local/lib/python3.8/dist-packages (from spacy) (3.3.0)
Requirement already satisfied: numpy>=1.15.0 in /usr/local/lib/python3.8/dist-packages (from spacy) (1.22.3)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from spacy) (3.0.8)
Requirement already satisfied: typer<0.8.0,>=0.3.0 in /usr/local/lib/python3.8/dist-packages (from spacy) (0.7.0)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /usr/local/lib/python3.8/dist-packages (from spacy) (4.63.1)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.8/dist-packages (from spacy) (3.1.1)
Requirement already satisfied: thinc<8.2.0,>=8.1.8 in /usr/local/lib/python3.8/dist-packages (from spacy) (8.1.9)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.8/dist-packages (from spacy) (2.0.7)
Requirement already satisfied: spacy-loggers<2.0.0,>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from spacy) (1.0.4)
Requirement already satisfied: pathy>=0.10.0 in /usr/local/lib/python3.8/dist-packages (from spacy) (0.10.1)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.8/dist-packages (from spacy) (21.3)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /usr/local/lib/python3.8/dist-packages (from spacy) (2.27.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.8/dist-packages (from spacy) (61.2.0)
Requirement already satisfied: smart-open<7.0.0,>=5.2.1 in /usr/local/lib/python3.8/dist-packages (from spacy) (6.3.0)
Requirement already satisfied: srsly<3.0.0,>=2.4.3 in /usr/local/lib/python3.8/dist-packages (from spacy) (2.4.6)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.8/dist-packages (from spacy) (1.0.9)
Requirement already satisfied: wasabi<1.2.0,>=0.9.1 in /usr/local/lib/python3.8/dist-packages (from spacy) (1.1.1)
Requirement already satisfied: catalogue<2.1.0,>=2.0.6 in /usr/local/lib/python3.8/dist-packages (from spacy) (2.0.8)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.8/dist-packages (from packaging>=20.0->spacy) (3.0.7)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.8/dist-packages (from pydantic!=1.8,!=1.8.1,<1.11.0,>=1.7.4->spacy) (4.5.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (1.26.9)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.8/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (2.0.12)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (2021.10.8)
Requirement already satisfied: blis<0.8.0,>=0.7.8 in /usr/local/lib/python3.8/dist-packages (from thinc<8.2.0,>=8.1.8->spacy) (0.7.9)
Requirement already satisfied: confection<1.0.0,>=0.0.1 in /usr/local/lib/python3.8/dist-packages (from thinc<8.2.0,>=8.1.8->spacy) (0.0.4)
Requirement already satisfied: click<9.0.0,>=7.1.1 in /usr/local/lib/python3.8/dist-packages (from typer<0.8.0,>=0.3.0->spacy) (8.1.3)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.8/dist-packages (from jinja2->spacy) (2.1.1)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

[notice] A new release of pip is available: 23.0.1 -> 23.1
[notice] To update, run: python3.8 -m pip install --upgrade pip

In [168]:
import spacy

In [169]:
nlp = spacy.load('en_core_web_sm')

In [170]:
sentences=["The big black cat stared at the small dog.",
           "Jane watched her brother in the evenings."]

In [171]:
def get_subject_phrase(doc):
    for token in doc:
        if ("subj" in token.dep_):
            subtree = list(token.subtree)
            start = subtree[0].i
            end = subtree[-1].i + 1
            return doc[start:end]

In [172]:
def get_object_phrase(doc):
    for token in doc:
        if ("dobj" in token.dep_):
            subtree = list(token.subtree)
            start = subtree[0].i
            end = subtree[-1].i + 1
            return doc[start:end]

In [192]:
obj_caption = json_df[json_df['image_id'] == "coco_133549"]['caption']
caption = obj_caption.iloc[1]
caption

'A beach shore with a shallow strip of water passing through it.'

In [197]:
doc = nlp("I like pizza a lot")
doc
get_subject_phrase(doc)

I

In [194]:
print(get_object_phrase(doc))

None

In [195]:
caption

'A beach shore with a shallow strip of water passing through it.'

In [196]:
for sentence in sentences:
    doc = nlp(caption)
    subject_phrase = get_subject_phrase(doc)
    object_phrase = get_object_phrase(doc)
    print(subject_phrase)
    print(object_phrase)

A beach shore with a shallow strip of water
None
A beach shore with a shallow strip of water
None